@font-face {
    font-family: Posterama;
    src: url('font/1466c60304095118702da085a528ac38.ttf');
}

body{
    color: lightslategray;
    background-image: linear-gradient(to bottom, rgb(14, 8, 34), rgb(20, 13, 26), rgb(23, 23, 49));
    
    font-family: Posterama;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

.contenido{
    flex: 1;
}

h1{
    color: rgb(166, 192, 201);
    font-family: Posterama;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 70px;
    font-size: 200%;
}

h2{
    margin-left: 50px;
    margin-top: 0px;
    font-size: 150%;
}

h3{
    color: rgb(125, 201, 227);
    font-family: Posterama;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 70px;
    font-size: 200%;
}

.letra{
    margin-left: 50px;
    margin-top: 0px;
    font-size: 150%;
    color: rgb(153, 194, 237);
    opacity: .9;
    font-family: 'Trebuchet MS';
}

p{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightcyan;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-size: 125%;
}

.titulo{
    color: #ffffff95;

    background-image: url('img/Cielo estrellado 4k.jpg');
    background-color: #cccccc;
    background-position: center;
    background-size: cover;

    border-bottom: 10px rgb(10, 10, 10) solid;
    border-top: 10px rgb(10, 10, 10) solid;

    font-size: 850%;
    font-family: Posterama;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
}

.titulo > div{
    margin-top: 20px;
    margin-bottom: 0px;
}

.titulo-linea{
    width:60%;
    border-bottom: 4px solid #ffffff95;
    position: absolute;
    left:20%;
    top: 160px;
}

.titulo-fecha{
    color: #ffffff95;
    font-size: 18%;
    text-align: center;
}

footer{
    color: #ffffff95;
    background: linear-gradient(0deg, rgba(79, 63, 80, 0.2) 0%, rgba(67,67,67,0) 100%);
    justify-content: center;
    display: flex;
    width: 100%;
    margin: 60px 0 0 0;
    height: 40px;
    align-items: center;
    padding-bottom: 10px;
}

.instagram{
    flex: 1;
    vertical-align: middle;
}

.instagram-logo {
    width: 30px; /* Ajusta el ancho según sea necesario */
    height: auto; /* Mantén la proporción de aspecto */
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0.6;
    vertical-align: middle;
}

a{
    text-decoration: none;
}

/* Caja desplegable de Letra */
details {
    border: 0;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
    color: rgb(153, 194, 237);
    width: 100px;
}

details[open]{
    width: calc(100vw - 120px);
    border: 2px solid rgba(243, 243, 243, 0.533);
    background-color: #ffffff12;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    font-size: 150%;
}

/* Letras */
h4{
    font-family: 'Trebuchet MS';
    font-weight: normal;
    font-size: 120%;
    color: aliceblue;
    padding: .2em;
    margin-top: 0;
    text-align: center;
}
